#superficie {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define el número de columnas */
    gap: 10px; /* Espacio entre elementos del grid */
}

.celda {
    background-color: lightgray;
    height: 50px;
    width: 50px;
    padding: 20px;
    text-align: center;
}